$color: #232931;
$background-color: #EEEEEE;
$secondary-color:white;



#login-card {
    background-color: $background-color;
    min-height: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 5px 5px $color;

}